<section
  class="flex w-full fixed bottom-0 text-xs text-slate-500 bg-white dark:text-slate-400 dark:bg-slate-900 h-[10vh] pb-10 lg:pb-0"
>
  <div
    class="flex justify-center items-center w-4/5 mx-auto flex-col lg:flex-row"
  >
    <!-- <p class="inline-block">Copyright ©️ {{ currentYear }} Kendriip Inc.</p> -->
    <p class="inline-block">
      Made with
      <span class="text-red-500 text-lg px-1">&hearts;</span>
      by
      <a
        class="text-primary-500 underline underline-offset-4"
        href="https://twitter.com/kendrip_"
        target="_blank"
        rel="noopener noreferrer"
      >
        Kendriip
      </a>
      in Jamaica 🌴🥥
    </p>
  </div>
</section>
