<div
  class="card py-8 bg-white text-slate-700 dark:bg-slate-900 dark:text-white"
>
  <h1 class="text-5xl font-bold pt-8 pb-5">Free URL Shortner</h1>
  <p class="pb-8">
    Mijikai is a free tool to shorten URLs. Create short & memorable links in
    seconds.
  </p>
  <form
    [formGroup]="shortenUrlForm"
    class="grid grid-cols-[8fr_2fr] w-full pb-10"
  >
    <input
      class="py-4 px-3.5 rounded-tl-md rounded-bl-md outline-offset-0 border text-slate-900 border-gray-300 dark:border-gray-600"
      type="search"
      placeholder="Enter the link here"
      formControlName="q"
    />
    <button
      class="text-center text-white py-4 px-3.5 disabled:cursor-not-allowed disabled:bg-slate-500 bg-primary-600 hover:bg-primary-800 rounded-tr-md rounded-br-md transition-all"
      [disabled]="shortenUrlForm.invalid"
      (click)="shortenUrl()"
    >
      Shorten
    </button>
  </form>
  <div [ngSwitch]="fetchCompleted">
    <div *ngSwitchCase="true">
      <span
        class="px-8 py-4 bg-slate-900 text-slate-100 shadow-2xl dark:shadow-blue-800/75 shadow-gray-800/95 dark:text-slate-900 dark:bg-white rounded-lg text-salte-900"
      >
        {{ shortenedUrl }}
      </span>
      <span
        class="p-4 ml-3 bg-primary-500 text-white shadow-2xl shadow-blue-800/75 hover:bg-white hover:text-primary-500 transition-colors rounded-lg cursor-pointer select-none"
        (click)="copyToClipboard(shortenedUrl)"
      >
        {{ copyStatusText }}
      </span>
    </div>
    <p *ngSwitchCase="false" class="py-4 scale-150">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="animate-spin mx-auto h-5 w-5 text-white"
      >
        <circle
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
          class="opacity-25"
        ></circle>
        <path
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          class="opacity-75"
        ></path>
      </svg>
    </p>
  </div>
</div>
